@charset "UTF-8";
:root {
  /* Основные шрифты */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Цвет текста */
  --primary-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --secondary-txt-cl: #757575;
  --primary-dark-txt: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-txt-cl);
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.сontacts {
  display: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .сontacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .сontacts {
    flex-direction: row;
    gap: 30px;
  }
}

.сontacts__link {
  color: var(--secondary-txt-cl);
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .сontacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .сontacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.сontacts__icon {
  margin-right: 8px;
  fill: var(--secondary-txt-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .сontacts__icon {
    margin-right: 10px;
  }
}

.сontacts__link:hover, .сontacts__link:focus {
  color: var(--accent-txt-cl);
}

.сontacts__link:hover .сontacts__icon,
.сontacts__link:focus .сontacts__icon {
  fill: var(--accent-txt-cl);
}

@media screen and (min-width: 1200px) {
  .phone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .mail {
    width: 16px;
    height: 12px;
  }
}

.сontacts__item:last-child {
  margin: 0;
}

.mobile-btn {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: centemobile-btnr;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.mobile-btn:hover .icon-open,
.mobile-btn:focus .icon-open,
.mobile-btn:focus .icon-close,
.mobile-btn:hover .icon-close {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.icon-open {
  opacity: 1;
}

.mobile-btn.is-active .icon-open {
  opacity: 0;
}

.icon-close {
  opacity: 0;
}

.mobile-btn.is-active .icon-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0);
}

.mobile-nav {
  padding: 0;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-group {
  margin-top: auto;
}

.mobile-сontacts {
  padding: 0;
  margin-bottom: 64px;
}

.mobile-сontacts__mailto {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .mobile-сontacts__mailto {
    font-size: 34px;
  }
}

.mobile-сontacts__phone {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-сontacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__socials {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu__item {
  margin-right: 10px;
  margin-top: 10px;
}

.mobile-menu__item:last-child {
  margin-right: 0;
}

.mobile-menu__link {
  display: block;
  color: #2196F3;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__item:last-child .mobile-menu__link {
  padding: 0;
  border: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    padding-left: 0;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}

.nav__link--curent {
  position: relative;
}

.nav__link--curent::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-txt-cl);
  border-radius: 2px;
}

.logo,
.logo__element {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo,
  .logo__element {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__element {
  color: #2196f3;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-dark-txt);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  max-width: 350px;
  min-width: 200px;
  background-color: #2196f3;
  border: none;
  color: var(--primary-dark-txt);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.features {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__tumb {
  background: #f5f4fa;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .features__item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.features__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-txt-cl);
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .section--non {
    display: none;
  }
}

.occupation {
  display: flex;
  padding: 0px;
}

.occupation__thumb {
  position: relative;
}

.occupation__item {
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.occupation__item:last-child {
  margin: 0;
}

.subtitle--mode-dark {
  color: var(--primary-dark-txt);
}

.occupation__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.subtitle--no-margin {
  margin: 0;
}

.section--other-background {
  background-color: #f5f4fa;
}

.team {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background: var(--primary-dark-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.text__box {
  text-align: center;
  padding: 30px 0 24px 0;
}

@media screen and (min-width: 1200px) {
  .text__box {
    padding: 30px 0;
  }
}

.team__caption {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
}

.team__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.socials {
  margin-top: 16px;
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-txt-cl);
}

.socials__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__link--dark {
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon--dark {
  fill: var(--primary-dark-txt);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: 170px;
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-txt-cl);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-txt-cl);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer-logo {
  display: block;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  color: var(--primary-dark-txt);
}

.footer__socials {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
  }
}

.footer-title {
  color: var(--primary-dark-txt);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: auto;
  }
}

.footer__label {
  display: flex;
  justify-content: center;
  display: block;
}

@media screen and (min-width: 780px) {
  .footer__label {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__label {
    display: flex;
  }
}

.footer__email {
  margin-right: 12px;
}

.footer__imput {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__imput {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__imput {
    width: 358px;
  }
}

.footer__imput:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input .footer-imput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit {
  max-width: 350px;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-dark-txt);
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-submit-icon {
  fill: var(--primary-dark-txt);
}

.submit-text {
  margin-right: 10px;
}

.address {
  font-style: normal;
  margin-bottom: 60px;
}

.address__list {
  padding: 0;
}

.address__item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__email,
.address__email:hover,
.address__email:focus,
.address__phone,
.address__phone:hover,
.address__phone:focus {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-dark-txt);
  font-style: normal;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__item:last-child {
  margin-right: 0;
}

.button {
  padding: 6px 22px;
  max-width: 350px;
  min-width: 70px;
  border: #f5f4fa;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--primary-dark-txt);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.work__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__link:hover, .work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .work__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .work__img {
    width: 370px;
  }
}

.work__caption {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt-cl);
}

.work__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

@media screen and (max-width: 767px) {
  .work__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work__item {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .work__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.work__container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work__thumb {
  position: relative;
  overflow: hidden;
}

.work__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__link:hover .work__overlay,
.work__link:focus .work__overlay {
  transform: translateY(0);
  background: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: var(--primary-dark-txt);
  padding: 77px 24px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 370px) {
  .overlay-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .overlay-text {
    padding: 49px 24px 77px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-text {
    padding: 63px 24px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-dark-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 0;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-dark-txt);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--accent-txt-cl);
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form__tex {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.form__list {
  padding: 0;
  margin-bottom: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
  margin-bottom: 4px;
}

.form__imput {
  position: relative;
}

.imput {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imput:focus + .form__icon {
  fill: var(--accent-txt-cl);
}

.imput:focus {
  border-color: var(--accent-txt-cl);
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  resize: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea .comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment:focus {
  border-color: var(--accent-txt-cl);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
}

.agreement__label [href] {
  color: var(--accent-txt-cl);
  text-decoration-line: underline;
  letter-spacing: 0.03em;
}

.submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  color: var(--primary-dark-txt);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  background: #2196F3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover, .submit:focus {
  background: #188CE8;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox__icon {
  border-color: #2196F3;
  background: #2196F3;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}

.checkbox:focus + .checkbox__icon {
  border-color: #2196F3;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  fill: var(--accent-txt-cl);
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */