body {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-txt-cl);
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:480px) {
       width: 480px;        
    }
    @media screen and (min-width:768px) {
        width: 768px;
    }
    @media screen and (min-width:1200px) {
        width: 1200px;
}

}
.subtitle {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-txt-cl);
}
.section {
    padding: 94px 0;
}
.section__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-txt-cl);
    margin-bottom: 50px;
}
.section--no-padding-top {
    padding-top: 0;
}

