.features {
   
   
    padding-left: 0;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
  
}

.features__tumb {
    background: #f5f4fa;
    
    
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

}

.features__item {
    // width: 100%;
    
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }
   
   
    &:last-child {
        @media screen and (max-width:767px) {
            margin: 0;
        }
    }

    
    
    @media screen and (min-width:768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
       
    }
    @media screen and (min-width:1200px) {
        flex-basis: calc(100% / 4 - 30px);
       
    }
}

.features__text {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}
.features__title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-txt-cl);
  
    @media screen and (max-width:767px) {
        text-align: center;
    }
}
