.filter {
    display: flex;
    flex-wrap: wrap;
   
    padding-left: 0;
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}
.filter__item {
    @media screen and (max-width:767px) {
            &:not(:last-child) {
                    margin-right: 8px;
                    margin-bottom: 15px;
                }
            
                &:nth-child(3) {
                    margin-right: 0;
                }
            
                &:nth-last-child(-n + 2) {
                    margin-bottom: 0;
                }
            }
        
    @media screen and (min-width:768px){
        &:not(:last-child) {
                margin-right: 8px;
            }
    }
    
}
.button {
    padding: 6px 22px;
    max-width: 350px;
    min-width: 70px;
    border: #f5f4fa;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-txt-cl);
    background: #f5f4fa;
    cursor: pointer;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &:hover,
        &:focus {
            color: var(--primary-dark-txt);
            background-color: var(--accent-txt-cl);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
           
        }
}