.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
    

    &__container {

        @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        }             
        
    }
        

}

.сontacts {
    display: none;
    padding-left: 0;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
        
    }
    @media screen and (min-width:1200px) {
        
        flex-direction: row;
        gap: 30px;
        
    
    }
 


    &__link {
        color: var(--secondary-txt-cl);
        display: flex;
        align-items: center;

        @media screen and (min-width:1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        
        


        font-family: var(--main-font);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--primary-txt-cl);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.14;
        }
        
    }

    &__icon {
        margin-right: 8px;
        fill: var(--secondary-txt-cl);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width:1200px) {
            margin-right: 10px;
        }
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-txt-cl);
    }

    &__link:hover  &__icon,
    &__link:focus &__icon {
        fill: var(--accent-txt-cl);
    }

}
.phone{
    @media screen and (min-width:1200px) {
        width: 10px;
        height: 16px;
    }

}
.mail{
    @media screen and (min-width:1200px) {
        width: 16px;
        height: 12px;
    }
}

.сontacts__item:last-child {
    margin: 0;
}

.mobile-btn{
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: centemobile-btnr;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent ;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    z-index: 6;
    &:hover .icon-open,
    &:focus .icon-open,
    &:focus .icon-close,
    &:hover .icon-close {
        fill: #2196F3;
    }

    @media screen and (min-width:768px) {
        display: none;
    }

}
.icon-open {
    opacity: 1;
}
.mobile-btn.is-active .icon-open{
    opacity: 0;
}


.icon-close{
    opacity: 0;

}
.mobile-btn.is-active .icon-close {
    opacity: 1;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    opacity: 0;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
.mobile-menu.is-open{
    opacity: 1;
    transform: translateX(0);

}

.mobile-nav{
    padding: 0;
}
.mobile-nav__link--active{
    color:#2196F3;
}
.mobile-nav__item:not(:last-child){
    margin-bottom: 32px;

}
.mobile-nav__link{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: #212121;
    &--active {
        color: #2196F3;
    }
}
.mobile-group{
    margin-top: auto;
}
.mobile-сontacts{
    padding: 0;
    margin-bottom: 64px;
}
.mobile-сontacts__mailto {
    
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;  
    letter-spacing: 0.02em;
    
    color: #2196F3;
    @media screen and (min-width:480px) {
        font-size: 34px;
    }
}
.mobile-сontacts__phone {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
    color: #757575;
}
.mobile-сontacts__item:not(:last-child){
    margin-bottom: 32px;
}
.mobile-menu__socials{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-right: -10px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
}
.mobile-menu__item {
    margin-right: 10px;
    margin-top: 10px;
}
.mobile-menu__item:last-child{
    margin-right: 0;

}

.mobile-menu__link {
    display: block;
    color: #2196F3;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__item:last-child .mobile-menu__link {
    padding: 0;
    border: none;
}