.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    

    max-width: 1600px;
   
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_sm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero{
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_sm2x.png);
    }
  }
@media (min-width:768px) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_md.png);
        
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_md2x.png);
        }
    }
}
@media (min-width:1200px) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_lg.png);
            padding-top: 200px;
            padding-bottom: 200px;
    }


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_lg2x.png);
        }
    }
}
.hero__title {
    margin-bottom: 30px;

    font-family: var(--main-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-dark-txt);
   
    @media screen and (min-width:1200px){
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero__button {
    padding: 10px 32px;
    border-radius: 4px;
    max-width: 350px;
    min-width: 200px;

    background-color: #2196f3;
    border: none;

    color: var(--primary-dark-txt);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }
}

