.nav {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    padding-left: 0;
}
.nav__item {
    margin-right: 50px;

    &:last-child {
        margin: 0;
    }
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}

.nav__link--curent {
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: var(--accent-txt-cl);
        border-radius: 2px;

    }

}