.occupation {
    display: flex;
    padding: 0px;
}
.occupation__thumb {
    position: relative;
}

.occupation__item {
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 3);

    &:last-child {
        margin: 0;
    }
}

.subtitle--mode-dark {
    color: var(--primary-dark-txt);
}

.occupation__title {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(47, 48, 58, 0.8);
        
}
.subtitle--no-margin{
    margin: 0;
}