.socials {
    margin-top: 16px;
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}
.socials__item:not(:last-child) {
    margin-right: 10px;
}
.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: #ffffff;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
     background-color: var(--accent-txt-cl);
    }
}


.socials__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .socials__link:hover &,
    .socials__link:focus & {
        fill: #ffffff;
    }
}
.socials__link--dark {
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--dark {
    fill: var(--primary-dark-txt);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}