.section--other-background {
    background-color: #f5f4fa;
}
.team {
    
    padding-left: 0;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.team__item {
    // flex-basis: calc((100%-90px) / 4);
    // margin-right: 30px;

    background: var(--primary-dark-txt);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }

    &:last-child {
        @media screen and (max-width:767px) {
            margin: 0;
        }
    }
    @media screen and (min-width:768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    
    }
    
    @media screen and (min-width:1200px) {
        flex-basis: calc(100% / 4 - 30px);
    
    }
}
.team__img{
    @media screen and (min-width:768px) {
        width: 354px;
        
    
    }
    
    @media screen and (min-width:1200px) {
        width: 270px;
    
    }
}
.text__box {
    text-align: center;
    padding: 30px 0 24px 0;
    @media screen and (min-width:1200px) {
        padding: 30px 0;
    
    }
}
.team__caption {
    margin-bottom: 10px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-txt-cl);
}
.team__text {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
    margin-bottom: 16px;
}